In [1]:
import sqlite3

In [ ]:
connection = sqlite3.connect("data.db")
cursor = connection.cursor()

In [ ]:
cursor.execute(
    """

    CREATE TABLE IF NOT EXISTS users (

        id INTEGER PRIMARY KEY AUTOINCREMENT,

        name TEXT NOT NULL,

        email TEXT NOT NULL,

        password TEXT NOT NULL

    )

"""
)

In [5]:
connection.commit()

In [ ]:
cursor.execute(
    """

    CREATE TABLE IF NOT EXISTS posts (

        id INTEGER PRIMARY KEY AUTOINCREMENT,

        title TEXT NOT NULL,

        content TEXT NOT NULL,

        user_id INTEGER NOT NULL,

        FOREIGN KEY (user_id) REFERENCES users (id)
    )
            """
)

In [9]:
connection.commit()

In [ ]:
cursor.execute(
    """

    INSERT INTO users (name, email, password) VALUES

    ('Alice', 'YB0rG@example.com', 'password1'),

    ('Bob', 'Hs0dX@example.com', 'password2'),

    ('Charlie', 'Ht6wq@example.com', 'password3')
"""
)

In [ ]:
cursor.execute(
    """

    INSERT INTO posts (title, content, user_id) VALUES

    ('First Post', 'This is the first post.', 1),

    ('Second Post', 'This is the second post.', 2),

    ('Third Post', 'This is the third post.', 3)
"""
)

In [12]:
connection.commit()

In [ ]:
cursor.execute(
    """

            SELECT * FROM users;       

            """
)

rows = cursor.fetchall()

for row in rows:

    print(row)

(1, 'Alice', 'YB0rG@example.com', 'password1')
(2, 'Bob', 'Hs0dX@example.com', 'password2')
(3, 'Charlie', 'Ht6wq@example.com', 'password3')